/** Copyright 2022 DZavodov. All Rights Reserved. */

:root {
	/**  */
	--ContentColor: FloralWhite;
	/**  */
	--HoveredColor: DarkTurquoise;
	/**  */
	--SafeColor: MediumSeaGreen;
	/**  */
	--WarningColor: #D0AE50;
	/**  */
	--DangerColor: Tomato;
	/**  */
	--ContainerColor: #090809;
	/**  */
	--BackGroundColor: #1B1B1B;
}
